<%= form_for(@concert) do |f| %>
  <% if @concert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@concert.errors.count, "error") %> prohibited this concert from being saved:</h2>

      <ul>
      <% @concert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tr>
      <td>Name:</td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td>Day:</td>
      <td><%= select_date Date.today %></td>
    </tr>
    <tr>
      <td>Picture url:</td>
      <td><%= f.text_field :pictureurl %></td>  
    </tr>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
